{% extends 'base.html' %}

{% block title %}Navs{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'servicebay:dashboard' %}">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">Nav</span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    {% if is_admin_or_staff %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:ordersPage' %}">All Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:create_order' %}">Add Customer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:order_details' %}">Booking Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'orders:update_order' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:delete_order' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:create_customer' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:create_vehicle' %}">New Service Visit</a>
                        </li>
                        <li>
                           <a class="nav-link" href="{% url 'orders:create_inspection' %}">New Service Visit</a> 
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:add_order' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:add_vehicle' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:add_inspection' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:customer_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:inspection_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:vehicle_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:update_customer' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:update_inspection' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:update_vehicle' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:delete_vehicle' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:delete_inspection' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'orders:delete_customer' %}">New Service Visit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:employees' %}">Job Card / Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:create_employee' %}">Parts & Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:add_employee' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:employee_details' %}">Job Card / Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:update_employee' %}">Parts & Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:delete_employee' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:create_role' %}">Job Card / Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:update_role' %}">Parts & Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:delete_role' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employees:role_details' %}">Job Card / Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:inventoryPage' %}">Parts & Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:create_part' %}">Reports</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory:view_part' %}">Reports</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:update_part' %}">Job Card / Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inventory:delete_part' %}">Parts & Pricing</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory:part_request' %}">Reports</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory:add_part' %}">Reports</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory:part_details' %}">Reports</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'inventory:delete_part_request' %}">Reports</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:paymentPage' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:create_payment' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:create_reciept' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:receipt_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:payment_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:update_payment' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:update_receipt' %}">New Service Visit</a>                        
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:delete_payment' %}">New Service Visit</a>                        
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:delete_receipt' %}">New Service Visit</a>                        
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'payments:payment_history' %}">New Service Visit</a>                        
                        </li>
                        <li>
                           <a class="nav-link" href="{% url 'payments:total_payment_amount' %}">New Service Visit</a>                         
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'services:service' %}">New Service Visit</a>                        
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'services:create_services' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'services:services_details' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'services:update_services' %}">New Service Visit</a>
                        </li>
                        <li>
                            <a class="nav-link" href="{% url 'services:delete_services' %}">New Service Visit</a>                        
                        </li>
                    {% endif %}

                    {% if is_senior technician %}
                       
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="sidebar-foot">
        <p>Logged in as {{ user.username }}</p>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </div>
{% endblock %}