{% extends 'base.html' %}

{% block title %} Vehicle Registration {% endblock %}

{% load humanize %}

{% block content %}
    <form method="post" action="{% url 'vehicle_form' %}">
    {% csrf_token %}
    <label>Vehicle Registration</label>
    <div class="container mb-3">
      <div class="row">
        <div class="col">
          <label for="size" class="form-label">Size</label>
          <select name="size" id="size" class="form-select">
            <option value="">Select vehicle size</option>
            <option value="Heavy" {% if request.POST.size == 'Heavy' %}selected{% endif %}>Heavy</option>
            <option value="Commercial" {% if request.POST.size == 'Commercial' %}selected{% endif %}>Commercial</option>
            <option value="Small" {% if request.POST.size == 'Small' %}selected{% endif %}>Small</option>
          </select>
        </div>
        <div class="col">
          <label for="car_model" class="form-label">Car Model</label>
          <input type="text" name="car_model" id="car_model" class="form-control" value="{{ request.POST.car_model|default:'' }}">
        </div>
      </div>
      <div class="col mt-3">
        <label for="carplate" class="form-label">Car Number Plate</label>
        <input type="text" name="carplate" class="form-control" id="carplate" placeholder="Registered number plate" value="{{ request.POST.carplate|default:'' }}">
      </div>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
</form>
{% endblock %}