{% extends "base.html" %}
{% block title %} <h1>Employees</h1> {% endblock %}

{% load humanize %}

{% block content %}
<table class="table-light table-hover">
  <table class="table">
    <thead>
      <tr>
      <th scope="col">id</th>
      <th scope="col">Names</th>
      <th scope="col">Emails</th>
      <th scope="col">Phone numbers</th>
      <th scope="col">NIN</th>
      <th scope="col">Passport numbers</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        <th scope="row">{{employee_id}}</th>
        <td>{{employee_name}}</td>
        <td>{{email}}</td>
        <td>{{phone_number}}</td>
        <td>{{nin}}</td>
        <td>{{passport_number}}</td>
      </tr>
    </tbody>
  </table>
  </table>
{% endblock %}